<div>
    <form method="get" action="{% url 'home' %}">
        <input class="searchroom" type="text" placeholder="Search.." name="q">
    </form>
</div>
<div class="rooms-part">
   
    {% for i in rooms%}
    <div class="room-container">
        
        <form method="post" id="submit-form" >
            {% csrf_token %}
            <h4>{{i.name}}</h4>

            <input value="{{i.roomid}}" id="change-id" name="roomid" type="hidden">
                
            <input id="submit-room" class="submit" type="submit" value="Join">
            
        </form>
        
    </div>

    
    {% endfor %}
</div>